header{
  border: solid 1px black;
  height: 100px;
  /* background-color: red; */
}

.pesquisa{
    float: right;
   
}

#busca{
    border: solid 1px;
    border-radius: 10px;
    margin-right: 10px;  
    padding: 5px;
}

.perfil img{
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}

.perfil{
    float: right;
    
}

#menuSuperior{
    margin-top: 5px;
    border: solid 1px black;
    /* background-color: grey; */
}

#menuSuperior {
    background-color: #C0C0C0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13pt;
    color:black;
    padding-left: 338px;
   
  
}

table {
    /* border: solid 1px red; */
}

td{
    padding-right: 38px;
}

#esquerdo{
    border: solid 1px black;
    width: 150px;
    height: 500px;
    
}